.idea
bin
pkg
setenv.txt
src/playground
src/github.com
.DS_Store
coverage.out
cover.out
src/code.google.com
dashboard-controller.iml
src/bitbucket.org/
start_service.sh
cover.sh
src/hubot/node_modules
user_authentication_data.txt
src/website/hash/user_authentication_data.txt
!src/hubot/bin
.hubot_historyautotest.sh
autotest.sh
