
.form-horizontal {
  position:absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
  width: 450px;
}

.title {
  text-align: center;
  color: black;
}

.info {
  display:none;
}

.slave-selector li {
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
/*  position: relative;*/
  padding: 10px 0px 0px 0px;
}
.slave-selector ul {
  padding-left: 0px;
}
.slave-selector ul li a {
  cursor:pointer;
}
.slave-selector li a {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
 .slave-selector > ul > li::before, .tree > ul > li::after {
  border: 0;
}
 .slave-selector li:last-child::before {
  height: 30px;
}

.strongSelect {
  background: #3ACFCF;
  color: #000;
  border: 1px solid #94a0b4;
  border-color: #94a0b4;
}
