.custom-input-field {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.form-box {
  position:absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 20%;
  width: 450px;
  padding: 20px;
}

.title {
  text-align: center;
  color: black;
}

.input {
  text-align: center;
}

.inputbutton {
  text-align: center;
}

.info {
  display:none;
}

.slave-selector li {
  width: 50%;
  margin: 0 auto;
  list-style-type: none;
  position: relative;
  padding: 10px 0px 0px 0px;
}
.slave-selector ul {
  padding-left: 0px;
  /*cursor:default;*/
}
.slave-selector ul li a {
  cursor:pointer;
}
.slave-selector li a {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/*Remove connectors before root*/
 .slave-selector > ul > li::before, .tree > ul > li::after {
  border: 0;
}
/*Remove connectors after last child*/
 .slave-selector li:last-child::before {
  height: 30px;
}

.strongSelect {
  background: #3ACFCF;
  color: #000;
  border: 1px solid #94a0b4;
  border-color: #94a0b4;
}
