<!DOCTYPE html>
<html>
<head>
    <title>Dashing Pi!</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/application.js"></script>
    <link rel="shortcut icon" type="image/icon" href="/assets/images/favicon.ico"/>
    <link rel="icon" type="image/icon" href="/assets/images/favicon.ico"/>
</head>
<body>
<div class='big-frame'>
    <h1 class='title'>Dashing-Pi</h1>

    <div class='form-box'>

        <form action="/form-submit" id="mainform" method="post">
            <div class='inputfield'>
                <label for="Slave Name">Destination:</label>
                <select name="slave-id">
                {{range .Id}}
                    <option value="{{.}}">{{.}}</option>
                {{end}}   
                </select>
            </div>
            <div class='inputfield'>
                <label for="URL">URL:</label>
                <input type="text" name="url"/>
            </div>

            <div class='inputbutton'>
                <input class='button' type='submit' name='Send URL!' value='Send'/>
            </div>
        </form>
        <div class="info">
        </div>
    </div>
</div>

</body>
</html>
